location                             = "westus2"
resource_group_name                  = "opssight-prod-rg"
container_registry_name              = "opssightprodacr"
container_apps_environment_name      = "opssight-prod-env"
log_analytics_workspace_name         = "opssight-prod-logs"
log_retention_days                   = 90
api_container_app_name               = "opssight-api-prod"
frontend_container_app_name          = "opssight-frontend-prod"
worker_container_app_name            = "opssight-worker-prod"
beat_container_app_name              = "opssight-beat-prod"
mlflow_container_app_name            = "opssight-mlflow-prod"
enable_airflow                       = true
airflow_webserver_container_app_name = "opssight-airflow-webserver-prod"
airflow_scheduler_container_app_name = "opssight-airflow-scheduler-prod"
airflow_postgresql_server_name       = "opssight-prod-airflow-pg"
redis_cache_name                     = "opssight-prod-redis"
mlflow_postgresql_server_name        = "opssight-prod-mlflow-pg"
mlflow_storage_account_name          = "opssightprodmlflow"
mlflow_storage_container_name        = "mlflow"
app_storage_account_name             = "opssightprodapp"
app_storage_container_name           = "app-artifacts"
mlflow_min_replicas                  = 1

api_environment_variables = {
  APP_ENV = "production"
}

tags = {
  owner      = "mlops"
  costcenter = "production"
}
