.git
.vscode
.env
.env.*
**/.env
**/.env.*
**/node_modules
**/dist
**/__pycache__
**/.pytest_cache
**/.ruff_cache
**/.mypy_cache
**/.vite
**/*.pyc
**/*.pyo
**/*.log
backend/fastapi/uploads
backend/fastapi/cleaned
backend/fastapi/mlruns
airflow-setup/logs
airflow-setup/plugins/__pycache__
