.env
.pytest_cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
300707/
alembic/__pycache__/
app/**/__pycache__/
cleaned/
mlartifacts/
uploads/
venv/
v/
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
