location                        = "eastus"
resource_group_name             = "opssight-dev-rg"
container_registry_name         = "opssightdevacr"
container_apps_environment_name = "opssight-dev-env"
log_analytics_workspace_name    = "opssight-dev-logs"
image_tag                       = "dev-latest"
api_container_app_name          = "opssight-api-dev"
frontend_container_app_name     = "opssight-frontend-dev"

api_environment_variables = {
  APP_ENV = "development"
}

tags = {
  owner = "mlops"
}
