location                        = "eastus"
resource_group_name             = "opssight-staging-rg"
container_registry_name         = "opssightstagingacr"
container_apps_environment_name = "opssight-staging-env"
log_analytics_workspace_name    = "opssight-staging-logs"
api_container_app_name          = "opssight-api-staging"
frontend_container_app_name     = "opssight-frontend-staging"
worker_container_app_name       = "opssight-worker-staging"
beat_container_app_name         = "opssight-beat-staging"
mlflow_container_app_name       = "opssight-mlflow-staging"
redis_cache_name                = "opssight-staging-redis"
mlflow_postgresql_server_name   = "opssight-staging-mlflow-pg"
mlflow_storage_account_name     = "opssightstagingmlflow"
mlflow_storage_container_name   = "mlflow"
app_storage_account_name        = "opssightstagingapp"
app_storage_container_name      = "app-artifacts"

api_environment_variables = {
  APP_ENV = "staging"
}

tags = {
  owner = "mlops"
}
